<div class="contact-page">
  <div class="contact-page__page-title">Contact</div>
  <div class="contact-page__address">
    <div class="address__prefix">Our address:</div>
    <div class="address__text">750 Big Bay Point Rd, Barrie, ON L4M 4S6</div>
  </div>
  <div class="contact-page__contact-us contact-us">
    <div class="contact-us__title">Contact Us</div>
    <div class="contact-us__form">
      <!-- <mat-form-field class="contact-us__form-field" appearance="outline">
        <mat-label class="contact-us__form-label">Name</mat-label>
        <input
          matInput
          class="contact-us__form-input"
          [formControl]="contactForm.controls.name"
          type="text"
        />
      </mat-form-field> -->
      <app-field-input
        class="contact-us__form-field"
        placeholder="Name"
        type="text"
				[required]="true"
        [control]="contactForm.controls.name"
      ></app-field-input>
      <mat-form-field class="contact-us__form-field" appearance="outline">
        <mat-label class="contact-us__form-label">Surname</mat-label>
        <input
          matInput
          class="contact-us__form-input"
          [formControl]="contactForm.controls.surname"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="contact-us__form-field" appearance="outline">
        <mat-label class="contact-us__form-label">Email</mat-label>
        <input
          matInput
          class="contact-us__form-input"
          [formControl]="contactForm.controls.email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="contact-us__form-field" appearance="outline">
        <mat-label class="contact-us__form-label">Message</mat-label>
        <textarea
          matInput
          class="contact-us__form-input"
          [formControl]="contactForm.controls.message"
          type="text"
        ></textarea>
      </mat-form-field>
      <button
        class="contact-us__button"
        mat-flat-button
        color="primary"
        [disabled]="!valid"
        (click)="sendMessage()"
      >
        Send
      </button>
    </div>
  </div>
</div>
