.contact-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-inline: 32px;
	padding-bottom: 128px;
  &__page-title {
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding-block: 72px;
  }

  &__address {
    font-size: 18px;

    .address__prefix {
    }

    .address__text {
      font-weight: 500;
      padding-top: 16px;
    }
  }
  &__contact-us {
  }
}

.contact-us {
  padding-top: 64px;

  &__title {
		text-align: center;
    font-size: 18px;
  }

  &__form {
    width: 440px;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 32px;
  }

  &__form-field {
    & textarea {
      min-height: 120px;
      resize: none;
    }
  }

  &__form-label {
  }

  &__form-input {
  }

  &__form-textarea {
  }

  &__button {
  }
}
