<div class="wrapper">
  <h1 class="page-title">Main</h1>
  <div class="list">
    <div class="special-product-list">
      <div class="product product--special">
        <div class="product__discount">
          <p class="product__discount-value">72<span>%</span></p>
          <p>off</p>
        </div>
        <div class="product__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
          placeat labore, veniam nulla aperiam amet, maiores, omnis vel itaque
          fugiat consequatur odit? Sapiente blanditiis iure exercitationem
          possimus dolorum ipsum magni?
        </div>
        <div class="product__image"></div>
        <div class="product__details">
          <p class="product__details-price">
            <span class="currency">$</span>49.99
          </p>
          <p class="product__details-price-normal">
            <span class="currency">$</span>69.99<span class="line"></span>
          </p>
          <span class="product__details-company">Amazon</span>
        </div>
        <div class="product__tag-list">
          <span class="product__tag">New</span>
        </div>
      </div>
    </div>
    <div class="product-list">
      <div class="product">
        <div class="product__discount">
          <p class="product__discount-value">68<span>%</span></p>
          <p>off</p>
        </div>
        <div class="product__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
          placeat labore, veniam nulla aperiam amet, maiores, omnis vel itaque
          fugiat consequatur odit? Sapiente blanditiis iure exercitationem
          possimus dolorum ipsum magni?
        </div>
        <div
          class="product__image"
          style="background-image: url('/assets/img/product-2.png')"
        ></div>
        <div class="product__details">
          <p class="product__details-price">
            <span class="currency">$</span>49.99
          </p>
          <p class="product__details-price-normal">
            <span class="currency">$</span>69.99<span class="line"></span>
          </p>
          <span class="product__details-company">Amazon</span>
        </div>
        <div class="product__tag-list">
          <span class="product__tag">New</span>
        </div>
      </div>
      <div class="product">
        <div class="product__discount">
          <p class="product__discount-value">68<span>%</span></p>
          <p>off</p>
        </div>
        <div class="product__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
          placeat labore, veniam nulla aperiam amet, maiores, omnis vel itaque
          fugiat consequatur odit? Sapiente blanditiis iure exercitationem
          possimus dolorum ipsum magni?
        </div>
        <div class="product__image"></div>
        <div class="product__details">
          <p class="product__details-price">
            <span class="currency">$</span>49.99
          </p>
          <p class="product__details-price-normal">
            <span class="currency">$</span>69.99<span class="line"></span>
          </p>
          <span class="product__details-company">Amazon</span>
        </div>
        <div class="product__tag-list">
          <span class="product__tag">New</span>
        </div>
      </div>
      <div class="product">
        <div class="product__discount">
          <p class="product__discount-value">68<span>%</span></p>
          <p>off</p>
        </div>
        <div class="product__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
          placeat labore, veniam nulla aperiam amet, maiores, omnis vel itaque
          fugiat consequatur odit? Sapiente blanditiis iure exercitationem
          possimus dolorum ipsum magni?
        </div>
        <div class="product__image"></div>
        <div class="product__details">
          <p class="product__details-price">
            <span class="currency">$</span>49.99
          </p>
          <p class="product__details-price-normal">
            <span class="currency">$</span>69.99<span class="line"></span>
          </p>
          <span class="product__details-company">Amazon</span>
        </div>
        <div class="product__tag-list">
          <span class="product__tag">New</span>
        </div>
      </div>
      <div class="product">
        <div class="product__discount">
          <p class="product__discount-value">68<span>%</span></p>
          <p>off</p>
        </div>
        <div class="product__description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error
          placeat labore, veniam nulla aperiam amet, maiores, omnis vel itaque
          fugiat consequatur odit? Sapiente blanditiis iure exercitationem
          possimus dolorum ipsum magni?
        </div>
        <div
          class="product__image"
          style="background-image: url('/assets/img/product-2.png')"
        ></div>
        <div class="product__details">
          <p class="product__details-price">
            <span class="currency">$</span>49.99
          </p>
          <p class="product__details-price-normal">
            <span class="currency">$</span>69.99<span class="line"></span>
          </p>
          <span class="product__details-company">Amazon</span>
        </div>
        <div class="product__tag-list">
          <span class="product__tag">New</span>
        </div>
      </div>
    </div>
  </div>
</div>
