.wrapper {
  width: 100%;
  padding-bottom: 100px;
}

.page-title {
  width: 100%;
  font-size: 32px;
  text-align: center;
  padding-block: 72px;
}

.list {
  position: relative;
  width: 100%;
  display: grid;
  // grid-template-columns: 480px 990px;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.special-product-list {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 1fr;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media only screen and (max-width: 1047px) {
  .list {
    grid-template-columns: 100%;
  }
  .special-product-list {
    justify-items: center;
  }
  .product-list {
    grid-template-columns: 100%;
    justify-items: center;
  }
}

@media only screen and (min-width: 1048px) and (max-width: 1550px) {
  .list {
    grid-template-columns: 50% 50%;
    margin-right: 64px;
  }
  .special-product-list {
    grid-template-columns: 100%;
    justify-items: center;
		align-content: start;
  }
  .product-list {
    justify-items: start;
    grid-template-columns: 100%;
  }
}

@media only screen and (min-width: 1551px) {
  .list {
    // padding-right: 48px;
    grid-template-columns: 30% 70%;
  }
  .special-product-list {
    grid-template-columns: 100%;
    justify-items: end;
  }
  .product-list {
    justify-items: center;
  }
}
