.wrapper {
  width: 100%;
  padding: 0px 100px 100px 100px;
}

.page-title {
  width: 100%;
  font-size: 32px;
  text-align: center;
  padding-block: 72px;
}

.list {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 480px 990px;
  justify-content: center;
}

.special-product-list {
  width: 100%;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media only screen and (max-width: 1047px) {
	.list {
		grid-template-columns: 100%;
	}
	.special-product-list{
		justify-items: center;
	}
	.product-list {
		grid-template-columns: 100%;
		justify-items: center;
	}
}

@media only screen and (min-width: 1048px) and (max-width: 1400px) {
	.list {
		grid-template-columns: 50% 50%;
		padding-right: 64px;
	}
	.special-product-list{
		grid-template-columns: 100%;
		justify-items: end;
	}
	.product-list {
		grid-template-columns: 100%;
	}
}

@media only screen and (min-width: 1401px) {
	.list {
		padding-right: 48px;
	}
}

.currency {
}
