.wrapper {
	min-height: 100%;
	padding-top: 80px;
	padding-inline: 32px;
	background-color: blueviolet;
}
.goods-block {
	display: none;
	padding-inline: 32px;
}
.delivery-address-block{
	display: none;
	padding-inline: 32px;
}
.payment-block {
	// display: none;
	padding-inline: 32px;
}
.delivery-date-block {
	display: none;
	padding-inline: 32px;
}
.summery-block {
	// display: none;
	padding-inline: 32px;
}