<div class="wrapper">
  <div class="title">Add new product</div>
  <form class="product-form">
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Id</mat-label>
      <input matInput [formControl]="productForm.controls.id" type="text" />
    </mat-form-field>
    <div class="product-form__form-container">
      <ng-container
        *ngFor="
          let imageUrl of productForm.controls.imgUrl.controls;
          index as index
        "
      >
        <mat-form-field
          class="product-form__container product-form__form-field"
          appearance="outline"
        >
          <mat-label class="product-form__label">Image URL</mat-label>
          <input
            matInput
            [formControl]="productForm.controls.imgUrl.controls[index]"
            type="text"
          />
        </mat-form-field>
        <img
          class="product-form__image-preview"
          *ngIf="productForm.controls.imgUrl.controls[index].value"
          src="{{ productForm.controls.imgUrl.controls[index].value }}"
          alt="Image Preview"
        />
      </ng-container>
      <div class="product-form__button-add-container">
        <button mat-stroked-button (click)="addImage()">Add image</button>
      </div>
    </div>
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Price</mat-label>
      <input
        matInput
        [formControl]="productForm.controls.price"
        type="number"
      />
    </mat-form-field>
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Discount</mat-label>
      <input
        matInput
        [formControl]="productForm.controls.discount"
        type="number"
      />
    </mat-form-field>
    <mat-radio-group
      class="product-form__container product-form__radio-group"
      [formControl]="productForm.controls.main"
      aria-label="main"
    >
      <div class="radio-group-label">Is it a main product?</div>
      <div class="radio-group-buttons">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Shop</mat-label>
      <input matInput [formControl]="productForm.controls.shop" type="text" />
    </mat-form-field>
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Name</mat-label>
      <input matInput [formControl]="productForm.controls.name" type="text" />
    </mat-form-field>
    <mat-form-field
      class="product-form__container product-form__form-field"
      appearance="outline"
    >
      <mat-label class="product-form__label">Description</mat-label>
      <input
        matInput
        [formControl]="productForm.controls.description"
        type="text"
      />
    </mat-form-field>
    <mat-radio-group
      class="product-form__container product-form__radio-group"
      [formControl]="productForm.controls.shipping"
      aria-label="shipping"
    >
      <div class="radio-group-label">Free shipping?</div>
      <div class="radio-group-buttons">
        <mat-radio-button [value]="'Free shipping'">Yes</mat-radio-button>
        <mat-radio-button [value]="'null'">No</mat-radio-button>
      </div>
    </mat-radio-group>
    <mat-form-field
      class="product-form__container product-form__form-field-date"
      appearance="outline"
    >
      <mat-label class="product-form__label">Discount until</mat-label>
      <input
        matInput
        [formControl]="productForm.controls.discountUntil"
        type="text"
        [matDatepicker]="picker"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-radio-group
      class="product-form__container product-form__radio-group"
      [formControl]="productForm.controls.isNew"
      aria-label="isNew"
    >
      <div class="radio-group-label">Is it a new product?</div>
      <div class="radio-group-buttons">
        <mat-radio-button [value]="true">Yes</mat-radio-button>
        <mat-radio-button [value]="false">No</mat-radio-button>
      </div>
    </mat-radio-group>
    <div class="product-form__form-container">
      <ng-container
        *ngFor="
          let color of productForm.controls.color.controls;
          index as index
        "
      >
        <mat-form-field
          class="product-form__container product-form__form-field"
          appearance="outline"
        >
          <mat-label class="product-form__label">Color</mat-label>
          <input
            matInput
            [formControl]="productForm.controls.color.controls[index]"
            type="text"
          />
        </mat-form-field>
      </ng-container>
      <div class="product-form__button-add-container">
        <button mat-stroked-button (click)="addColor()">Add color</button>
      </div>
    </div>
    <div class="product-form__form-container">
      <ng-container
        *ngFor="let color of productForm.controls.size.controls; index as index"
      >
        <mat-form-field
          class="product-form__container product-form__form-field"
          appearance="outline"
        >
          <mat-label class="product-form__label">Size</mat-label>
          <input
            matInput
            [formControl]="productForm.controls.size.controls[index]"
            type="text"
          />
        </mat-form-field>
      </ng-container>
      <div class="product-form__button-add-container">
        <button mat-stroked-button (click)="addSize()">Add size</button>
      </div>
    </div>
  </form>
  <div class="buttons">
    <button class="buttons__reset" mat-raised-button (click)="reset()">Reset</button>
    <button class="buttons__submit" mat-raised-button (click)="submit()">
      Submit
    </button>
  </div>
</div>
