<div
  class="product"
  [ngClass]="{ 'product--special': product.main }"
  [class]="getDiscountClass(product.discount)"
  (click)="handleClick()"
>
  <div *ngIf="product.discount > 0" class="product__discount">
    <p class="product__discount-value">{{ product.discount }}<span>%</span></p>
    <p>off</p>
  </div>
  <div class="product__description">
    {{ product.description | charactersLimitation : 70 }}
  </div>
  <div
    class="product__image"
    [ngStyle]="{ 'background-image': 'url(' + (product.imgUrl[0] || '') + ')' }"
  ></div>
  <div class="product__details">
    <p class="product__details-price">
      <span
        >{{
          priceService.getDiscountedPrice(
            product.price,
            product.discount,
            product.discountUntil
          ) | currency : "EUR" : "symbol" : "1.0-2"
        }}
      </span>
    </p>
    <p *ngIf="product.discount > 0" class="product__details-price-original">
      {{ product.price | currency : "EUR" : "symbol" : "1.0-2"
      }}<span class="line"></span>
    </p>
    <span class="product__details-shop">{{ product.shop }}</span>
  </div>
  <div class="product__tag-list">
    <span *ngIf="isShippingTagActive()" [ngClass]="getTagClass()">{{
      product.shipping
    }}</span>
    <span *ngIf="product.isNew" [ngClass]="getTagClass()">New</span>
    <span
      *ngIf="priceService.isDiscountActive(product.discountUntil)"
      [ngClass]="getTagClass()"
    >
      <app-discount-timer
        [discountUntil]="product.discountUntil"
      ></app-discount-timer>
    </span>
  </div>
</div>
