@import "colors";

.header {
	height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
	align-items: center;
  padding-right: 100px;

  &__menu {
    & * {
      color: $color-orange-normal;
			font-size: 18px;
      &:hover {
        color: $color-orange-red;
      }
    }
  }

  &__home {
    margin-right: 44px;
  }

  &__contact {
  }
}
