@import "colors";

.header {
	height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
	align-items: center;
  padding-right: 100px;

  &__menu {
		display: flex;
		flex-flow: row nowrap;
    & > * {
      color: $color-orange-normal;
			font-size: 18px;
      &:hover {
        color: $color-orange-red;
      }
    }
  }

  &__link {
		margin-right: 44px;
  }

	&__management{
		display: none;
	}

}
